@import "sasskit/dist/scss/api";

/* backport styles from core branding to bower sasskit */

$text-color: rgb(8, 31, 44);
$border-color: rgb(176, 176, 176);
$input-border-focus: rgb(192, 223, 254);
$grey-lighter: rgb(243, 243, 243);
$grey-dark: rgb(125, 125, 125);
$spacer: 1.5rem;
$spacer-xs: $spacer * .5;
$spinner-color: rgb(176, 176, 176);
$font-size-sm: 14px;
$spinner-size: 28px;
$spinner-size-sm: 22px;
$spinner-animation-name: fa-spin;
$spinner-animation-speed: 1200ms;
$spinner-animation-timing: linear;

/* local variables (none for now) */



/* mixins */

@mixin fontawesome {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: inherit;
    font-family: FontAwesome;
    text-rendering: auto;
}


/* Custom styling */

.o-auto-complete {

    .is-selected {
        background-color: $grey-lighter;
    }

    .angucomplete-dropdown {
        border: 1px solid $border-color;
        border-radius: 0;
        box-shadow: .75rem .75rem 0 rgba(0, 0, 0, .1);
        line-height: 1;
        margin-top: 0;
        max-height: 13.5rem;
        overflow-y: scroll;
        padding: 0;
        width: auto;

        ul .leaf:first-child {
            border-top: 0;
        }

        ul .leaf:last-child {
            border-bottom: 0;
        }
    }

    .u-margin {
        &-xs {
            margin: $spacer-xs;
        }

        &-right-xs {
            margin-right: $spacer-xs;
        }
    }

    .u-text-light {
        color: $grey-dark;
    }

    .u-text-bold {
        font-weight: 700;
    }

    .field {
        border-color: $border-color;
        color: $text-color;
        outline: none;

        &:hover,
        &:focus {
            border-color: $border-color;
        }

        &:focus {
            box-shadow: 0 0 0 3px $input-border-focus;
        }

        &::-webkit-input-placeholder {
            font-style: normal;
        }

        &::-moz-placeholder {
            font-style: normal;
        }

        &:-ms-input-placeholder {
            font-style: normal;
        }

        &:-moz-placeholder {
            font-style: normal;
        }
    }

    .list-navigation .leaf .leaf-link {
        padding: 1rem 1.5rem;
    }

    .a-spinner {
        color: $spinner-color;

        &:before {
            @include fontawesome;
            animation: $spinner-animation-name $spinner-animation-speed infinite $spinner-animation-timing;
            color: inherit;
            content: "\f1ce";
            display: inline-block;
            font-size: rem($spinner-size);
        }

        &--inline {
            display: inline-block;
            vertical-align: middle;
        }

        &--sm {
            &:before {
                font-size: rem($spinner-size-sm);
            }
        }
    }

    &__description {
        display: block;
        font-size: rem($font-size-sm);
        margin-top: .5625rem;
        width: 100%;
    }
}
