<div class="a-input m-location-picker">
    <div class="a-input__wrapper">
        <angucomplete-ie8
            remote-url="{{ locationPicker.url }}"
            remote-url-request-formatter="locationPicker.remoteUrlFormatData"
            placeholder="{{ locationPicker.placeholder }}"
            pause="{{ locationPicker.bufferInputMs }}"
            xinitial-value="Test"
            selected-object="locationPicker.valueSelected"
            title-field="name"
            description-field="layer"
            match-class="u-text-bold"
            minlength="{{ locationPicker.minLength }}"
            text-no-results="{{ locationPicker.noDataMessage }}"
            text-searching="{{ locationPicker.searchingText }}"
            template-url="/assets/location-picker-widget/views/directives/custom-list.htm"
            input-class="field"></angucomplete-ie8>
        <!-- <pre style="background:#f4f4f4;padding:.25rem;max-height:50vh;overflow: auto">{{ locationPicker.value | json }}</pre> -->
    </div>
</div>
