<div class="a-input m-location-picker">
	<h4>Location picker goes here</h4>
    <div class="a-input__wrapper">
    	<!-- <aui-location-picker-autocomplete></aui-location-picker-autocomplete> -->
        <angucomplete-ie8
            placeholder="{{ locationPicker.placeholder }}"
            pause="{{ locationPicker.bufferInputMs }}"
            selected-object="value"
            local-data="locationPicker.data"
            search-fields="name"
            title-field="name"
            description-field="layer"
            match-class="u-text-bold"
            minlength="{{ locationPicker.minLength }}"
            text-no-results="{{ locationPicker.noDataMessage }}"
            text-searching="Aan het zoeken"
            template-url="/assets/location-picker-widget/views/directives/custom-list.htm"
            input-class="field"></angucomplete-ie8>
        <pre style="background:#f4f4f4;padding:.25rem;max-height:50vh;overflow: auto">{{ locationPicker.value | json }}</pre>
    </div>
</div>
