<div class="a-input m-location-picker">
    <div class="a-input__wrapper">
        <angucomplete-ie8
            remote-url="{{ locationPicker.url }}"
            remote-url-request-formatter="locationPicker.remoteUrlFormatData"
            placeholder="{{ locationPicker.placeholder }}"
            pause="{{ locationPicker.bufferInputMs }}"
            initial-value="locationPicker.value"
            selected-object="locationPicker.valueSelect"
            title-field="name"
            description-field="layer"
            match-class="u-text-bold"
            minlength="{{ locationPicker.minLength }}"
            text-no-results="{{ locationPicker.noDataMessage }}"
            text-searching="{{ locationPicker.searchingText }}"
            template-url="/assets/location-picker-widget/views/directives/custom-list.htm"
            input-class="field"></angucomplete-ie8>
    </div>
</div>
